@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* default primary color*/
      --color-primary: #299D91;
    }
  }
  
  .theme-blue {
    --color-primary: #1E90FF;
  }
  
  .theme-purple {
    --color-primary: #6A5ACD;
  }
  
  .theme-pink {
    --color-primary: #DB7093;
  }
  
  .theme-brown {
    --color-primary: #8B4513;
  }

  .zoom-in {
    @apply duration-500 hover:translate-y-1 hover:scale-110;
  }
  /* Dark mode styles */
.dark {
  @apply bg-gray-900;
  @apply text-white;
}

.dark .bg-special-mainBg {
  @apply bg-gray-800;
}

.dark .bg-primary {
  @apply bg-gray-700;
}

.dark .text-gray-01 {
  @apply text-gray-300;
}

.dark .text-gray-03 {
  @apply text-gray-400;
}

.dark .bg-gray-05 {
  @apply bg-gray-600;
}